.logo {
    display: flex;
    align-items: center;
    margin: 3Opx;
    width: 197px;
    height: 36px;
}

.location {
    display: flex;
    align-items: center;
    padding: 3Opx;
    background-color: $greylight;
    font-size: 700;

    &-text {
        font-weight: 700;
      }
}