/*** colours ***/

$primary: #9356DC;
$primary2: #F5EDFF;
$secondary: #FF79DA;
$greenlight: #99E2D0;
$greendark: #008766;
$grey: #EAEAEA;
$greylight: #F7F7F7;
$greydark: #7E7E7E;
$greyfooter: #353535;
$white: #FFFFFF;
$black: #000000;